<?xml version="1.0" encoding="utf-8"?>
<LinearLayout 
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:padding="24dp"
    android:gravity="center"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <TextView
        android:text="Salão da Lapa - Agendamento"
        android:textSize="22sp"
        android:textStyle="bold"
        android:layout_marginBottom="24dp"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"/>

    <EditText
        android:id="@+id/inputNome"
        android:hint="Seu nome"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginBottom="12dp"/>

    <EditText
        android:id="@+id/inputData"
        android:hint="Data (ex: 22/04/2025)"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginBottom="12dp"/>

    <EditText
        android:id="@+id/inputHora"
        android:hint="Hora (ex: 14:30)"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginBottom="24dp"/>

    <Button
        android:id="@+id/btnAgendar"
        android:text="Agendar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"/>
</LinearLayout>
